<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">{{localize 'ITEM.TypeFeature'}}</div>
    <div class="item-detail">{{localize 'TLGCC.Formula'}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create item" data-type="feature"><i class="fas fa-plus"></i> {{localize 'TLGCC.Add'}}</a>
    </div>
  </li>
  {{#each features as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-name">
        <div class="item-image">
          <a class="rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></a>
        </div>
        <h4 title="{{system.feature.value}}">{{item.name}}</h4>
      </div>
      <div class="item-formula item-prop rollable" data-roll-type="item">{{item.system.formula.value}}</div>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
  {{/each}}
</ol>