<section class="resources grid grid-5col">
  <div class="resource flex-group-center">
    <label for="system.size.value" class="resource-label">{{localize 'TLGCC.Size'}}</label>
    <div class="resource-content flexrow flex-center flex-between">
      <input type="text" name="system.size.value" value="{{system.size.value}}" data-dtype="String" />
    </div>
  </div>
  <div class="resource flex-group-center">
    <label for="system.height.value" class="resource-label">{{localize 'TLGCC.Height'}}</label>
    <div class="resource-content flexrow flex-center flex-between">
      <input type="text" name="system.height.value" value="{{system.height.value}}" data-dtype="String" />
    </div>
  </div>
  <div class="resource flex-group-center">
    <label for="system.sex.value" class="resource-label">{{localize system.sex.label}}</label>
    <div class="resource-content flexrow flex-center flex-between">
      <input type="text" name="system.sex.value" value="{{system.sex.value}}" data-dtype="String" />
    </div>
  </div>
  <div class="resource flex-group-center">
    <label for="system.religion.value" class="resource-label">{{localize system.religion.label}}</label>
    <div class="resource-content flexrow flex-center flex-between">
      <input type="text" name="system.religion.value" value="{{system.religion.value}}" data-dtype="String" />
    </div>
  </div>
  <div class="resource flex-group-center">
    <label for="system.age.value" class="resource-label">{{localize system.age.label}}</label>
    <div class="resource-content flexrow flex-center flex-between">
      <input type="text" name="system.age.value" value="{{system.age.value}}" data-dtype="String" />
    </div>
  </div>
  <div class="resource flex-group-center grid-span-3">
    <label for="system.language.value" class="resource-label">{{localize 'TLGCC.language'}}</label>
    <div class="resource-content flexrow flex-center flex-between">
      <input type="text" name="system.language.value" value="{{system.language.value}}" data-dtype="String" />
    </div>
  </div>
  <div class="resource flex-group-center grid-span-2">
    <label for="system.origin.value" class="resource-label">{{localize system.origin.label}}</label>
    <div class="resource-content flexrow flex-center flex-between">
      <input type="text" name="system.origin.value" value="{{system.origin.value}}" data-dtype="String" />
    </div>
  </div>
</section>
<div class="grid grid-2col">
  <div class="flex-group-left" style="border: 1px black;">
    <h2>{{localize 'TLGCC.Appearance'}}</h2>
    {{editor system.appearance target="system.appearance" rollData=rollData button=true owner=owner editable=editable}}

  </div>
  <div class="flex-group-left">
    <h2 title="Click the pencil icon at far right to edit.">{{localize 'TLGCC.Notes'}}</h2>
    {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
  </div>
</div>