<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'TLGCC.Name'}}" /></h1>
      <div class="resources grid grid-5col">
        <div class="resource flex-group-center">
          <label for="system.hitPoints.value" class="resource-label">{{localize 'TLGCC.HitPoints'}} </label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.hitPoints.value" value="{{system.hitPoints.value}}" data-dtype="Number" width="50px"/>
          <span class="flexshrink flex-align-center">&nbsp;/&nbsp;</span>
          <input type="text" name="system.hitPoints.max" value="{{system.hitPoints.max}}" data-dtype="Number"/>
        </div>
      </div>
        <div class="resource flex-group-center">
          <label for="system.hitDice" class="resource-label"><a class="rollable" data-roll="{{system.hitDice.number}}{{system.hitDice.size}}+{{system.hitDice.mod}}" data-label="{{localize system.hitDice.label}}">{{localize 'TLGCC.monsterHitDice'}} &nbsp;</a></label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.hitPoints.value" value="{{system.hitPoints.value}}" data-dtype="Number" width="50px" />
            <span class="flexshrink flex-align-center">&nbsp;/&nbsp;</span>
            <input type="text" name="system.hitPoints.max" value="{{system.hitPoints.max}}" data-dtype="Number" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.hitDice" class="resource-label"><a class="rollable" data-roll="{{system.hitDice.number}}{{system.hitDice.size}}+{{system.hitDice.mod}}" data-label="{{localize system.hitDice.label}}">HD Size &nbsp;</a></label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.hitDice.number" value="{{system.hitDice.number}}" data-dtype="Number" />
            <input type="text" name="system.hitDice.size" value="{{system.hitDice.size}}" data-dtype="String" />
            <span class="flexshrink flex-align-center"> </span>
            <input type="number" name="system.hitDice.mod" value="{{system.hitDice.mod}}" data-dtype="Number" sign="true" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.msaves.value" title="{{localize 'TLGCC.monsterSavesHover'}}" class="resource-label"><a class="rollable" data-roll="d20+{{system.hitDice.number}}" data-label="{{localize system.msaves.label}}: {{localize system.msaves.value}}"> {{localize system.msaves.label}}</a> </label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.msaves.value" title="{{localize 'TLGCC.monsterSavesHover'}}" value="{{system.msaves.value}}" data-dtype="string" />
          </div>
        </div>


        <div class="resource flex-group-center">
          <label for="system.numberAppearing.value" class="resource-label"><a class="rollable" data-roll="{{system.numberAppearing.value}}" data-label="{{localize system.numberAppearing.label}}">{{localize system.numberAppearing.label}}</a></label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.numberAppearing.value" value="{{system.numberAppearing.value}}" data-dtype="String" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.monterINT.value" class="resource-label"><a class="" data-label="{{localize system.monterINT.label}} ({{system.monterINT.value}})">{{localize system.monsterINT.label}}</a></label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.monterINT.value" value="{{system.monterINT.value}}" data-dtype="String" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.treasureType.value" class="resource-label">{{localize system.treasureType.label}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.treasureType.value" value="{{system.treasureType.value}}" data-dtype="String" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.xp.value" class="resource-label">{{localize system.xp.abbr}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.xp.value" value="{{system.xp.value}}" data-dtype="String" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.alignment.value" class="resource-label">{{localize 'TLGCC.Alignment'}} </label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.alignment.value" value="{{system.alignment.value}}" data-dtype="String" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.size.value" class="resource-label">{{localize 'TLGCC.Size'}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.size.value" value="{{system.size.value}}" data-dtype="String" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.type.value" class="resource-label">{{localize 'TLGCC.monsterType'}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.type.value" value="{{system.type.value}}" data-dtype="String" />
          </div>
        </div>
      </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="combat">{{localize 'TLGCC.CombatTab'}}</a>
    <a class="item" data-tab="spells">{{localize 'TLGCC.SpellsTab'}}</a>
    <a class="item" data-tab="description">{{localize 'TLGCC.DescriptionTab'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Combat Tab --}}
    <div class="tab combat" data-group="primary" data-tab="combat">
      <section class="grid grid-3col">
        <aside class="sidebar">

          <div class="abilities flexcol">
            {{#each system.saves as |save key|}}
              <div class="ability flexrow flex-group-center">
                <label for="system.saves.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d20" data-label="Saving Throw - {{save.label}}">{{save.label}}</label>
                <input type="text" name="system.saves.{{key}}.value" value="{{save.value}}" data-dtype="Number" />
              </div>
            {{/each}}
          </div>
        </aside>

        {{!-- For the main combat list, span the right two columns --}}
        <section class="main grid-span-2">
          {{> "systems/castles-and-crusades/templates/actor/parts/monster-combat.html"}}
          {{> "systems/castles-and-crusades/templates/actor/parts/actor-features.html"}}
        </section>

      </section>
    </div>
    {{!-- Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
    <div class="resource flex-group-center" ><h3 title="{{localize 'TLGCC.spellsKnownhover'}}">{{localize 'TLGCC.spellsKnown'}}</h3></div>
    <!--<section class="resources grid grid-10col">
     
      {{#each system.spellsPerLevel.value as |spellsPerLevel level|}}
      <div class="resource flex-group-center">
        <h3 title="{{localize 'TLGCC.spellsKnownhover'}}">Spells Known</h3>
      </div>
      <!--<section class="resources grid grid-10col">
     
      {{#each system.spellsPerLevel.value as |spellsPerLevel level|}}
      <div class="resource flex-group-center">
        <label for="system.spellsPerLevel.{{level}}" class="resource-label">{{level}}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="number" name="system.spellsPerLevel.value.{{level}}" value="{{spellsPerLevel}}" data-dtype="Number"/>
        </div>
      </div>
      {{/each}}
    
    </section> -->

      <ol class="items-list">
        {{#each spells as |spells spellLevel|}}
          <li class="item flexrow items-header">
            <div class="item-name">{{localize 'TLGCC.spellLevel'}} {{spellLevel}} {{localize 'TLGCC.Spells'}}</div>
            <div class="item-detail">{{localize 'TLGCC.Prepared'}}</div>
            <div class="item-controls">
              <a class="item-control item-create" title="Create item" data-type="spell" data-spell-level-value="{{spellLevel}}"><i class="fas fa-plus"></i> {{localize 'TLGCC.Add'}}</a>
            </div>
          </li>
          {{#each spells as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-name flexrow">
                <div class="item-image">
                  <a class="rollable" data-roll-type="item" data-label="@actor.name casts @item.name with a Save of @spell.savevalue and duration @spell.duration"><img src="{{item.img}}" title="Cast Spell: {{item.name}}" width="24" height="24" /></a>

                </div>
                <h4 title="{{system.spell.summary}}">{{item.name}}</h4> <a class="rollable" data-roll-type="damage" data-roll="{{system.spelldmg.value}}"><img src="systems/castles-and-crusades/styles/damage.svg" title="Roll damage for {{item.name}}" width="24" height="24" /></a>
              </div>
              <div class="item-prop grid grid-3col">
                <div class="flex-group-right"><a class="item-control spell-prepare" data-change="-1"><i class="fas fa-minus"></i></a></div>
                <div class="flex-group-center">{{item.system.prepared.value}}</div>
                <div class="flex-group-left"><a class="item-control spell-prepare" data-change="+1"><i class="fas fa-plus"></i></a></div>
              </div>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
          {{/each}}
        {{/each}}
      </ol>
    </div>
    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

  </section>
  {{log "CONTEXT!!!!"}} {{log this}}
</form>

<!-- <script>document.getElementsByName('system.attackBonus.value')[0].disabled = true;</script> -->